body, .App {
  text-align: center;
  align-content: center;
  margin-top: 100px;
  background-image: url('https://images.unsplash.com/photo-1538097304804-2a1b932466a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1850&q=400');
  background-attachment: fixed;
  background-size: cover;
}

.projects, .apps {
  display: grid;
  margin-left: 8%;
  margin-right: 8%;
  grid-gap: 15px 15px;
  grid-template-areas: "item item"
                       "item item"
                       "item item"
                       "item item";
  color: black;
}

/* .apps {
  display: grid;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
} */

.resume-container {
  margin-left: 10%;
  width: 80%;
  height: 100%;
  background-color: #ffffff; 
  padding-top: 50px;
}

.resume-body {
  text-align: left;
  margin: 1%;
}

.skills-container, p {
  display: inline-block;
}

.my-pic {
  display: inline;
}



